<div class="card m-5">
    <h5 class="card-header">Proyecto final de curso: App-Paquetes</h5>
    <div class="card-body">
      <h5 class="card-title">Especializacion en Tecnologias Avanzadas para el Desarrollo de Software</h5>
      <h5 class="card-title">Curso: Desarrollo de sistemas de informacion web</h5>
      <p class="card-text">Este proyecto consiste en una aplicacion web para la administacion de
          una empresa de paqueteria y domicilios, con la cual se pretende administrar tanto usuarios
          de la empresa así como sus empleados y recursos.

          Presentado por: Pablo Gomez, Jhennifer Bello y Nelson Santamaria
      </p>
    </div>
  </div>
