<form class="mx-5">
    <h4 class="title my-5">ACTUALICE LOS DATOS DEL USUARIO {{id}}</h4>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="text" name="nombre" id="name" class="form-control" [(ngModel)]="sender.nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Apellido</label>
        <input type="texto" name="apellido" id="apellido" class="form-control" [(ngModel)]="sender.apellido">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword4">Telefono</label>
        <input type="number" name="telefono" id="telefono" class="form-control" [(ngModel)]="sender.telefono">
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Direccion</label>
      <input type="text" name="direccion" id="direccion" class="form-control" [(ngModel)]="sender.direccion">
    </div>
   
    <button type="submit" (click)="updateSender()" class="btn btn-primary">Actualizar</button>

  </form>
