<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
        <th scope="col">Direccion</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id}}</td>
        <td>{{ user.name}}</td>
        <td>{{ user.lastName}}</td>
        <td>{{ user.telephone}}</td>
        <td>{{ user.email}}</td>
        <td>{{ user.address}}</td>
        <td>Actualizar</td>
        <td>Borrar</td>
      </tr>
    </tbody>
  </table>